<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/f-a-q-amaiya.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lobster:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <header class="faq-amaiya">
      <div class="faq-bg"></div>
      <div class="q1-parent">
        <div class="q1">
          <div class="q1-child"></div>
          <div class="q1-item"></div>
          <b class="q5-how-many">Q5. How many people can I like in a day?</b>
          <div class="as-many-as-container">
            <ul class="as-many-as">
              As many as you like
            </ul>
          </div>
        </div>
        <div class="q11">
          <div class="q1-child"></div>
          <div class="q1-item"></div>
          <b class="q5-how-many">Q6. How many people can I like in a day?</b>
          <div class="as-many-as-container">
            <ul class="as-many-as">
              As many as you like
            </ul>
          </div>
        </div>
        <div class="q12">
          <div class="q1-child"></div>
          <div class="q1-item"></div>
          <b class="q1-how-many">Q1. How many people can I like in a day?</b>
          <div class="as-many-as-container2">
            <ul class="as-many-as">
              As many as you like
            </ul>
          </div>
        </div>
        <div class="q13">
          <div class="q1-child"></div>
          <div class="q1-item"></div>
          <b class="q2-how-many">Q2. How many people can I like in a day?</b>
          <div class="as-many-as-container3">
            <ul class="as-many-as">
              As many as you like
            </ul>
          </div>
        </div>
        <div class="q14">
          <div class="q1-child"></div>
          <div class="q1-item"></div>
          <b class="q1-how-many">Q3. How many people can I like in a day?</b>
          <div class="as-many-as-container2">
            <ul class="as-many-as">
              As many as you like
            </ul>
          </div>
        </div>
        <div class="q15">
          <div class="q1-child"></div>
          <div class="q1-item"></div>
          <b class="q5-how-many">Q4. How many people can I like in a day?</b>
          <div class="as-many-as-container">
            <ul class="as-many-as">
              As many as you like
            </ul>
          </div>
        </div>
        <div class="frame-child"></div>
      </div>
      
      <div class="title-bar">
        <div class="title-bar-child"></div>
        
        <b class="frequently-asked-questions">Frequently Asked Questions</b
        >
        <a class="one-kiss2" id="oneKiss"
          ><span>One </span><span class="kiss2">Kiss</span></a
        >
        <div class="help6">Help</div>
        
        <a class="amaiya4" href="/{{user['User_ID']}}/profile"
          >{{user['Username']}}</a
        >
        
      </div>
    </header>

  </body>
</html>
