<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster:wght@400&display=swap" />
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="landing-page-aryan">
      <div class="landing-page-aryan-child"></div>
      <img class="landing-page-aryan-item" alt="" src="/static/public/ellipse-12.svg" /><img
        class="landing-page-aryan-inner" alt="" src="/static/public/ellipse-11.svg" /><img class="ellipse-icon" alt=""
        src="/static/public/ellipse-9.svg" />
      <div class="landing-page-aryan-child1"></div>
      <div class="landing-page-aryan-child2"></div>
      <div class="landing-page-aryan-child3"></div>
      <div class="landing-page-aryan-child4"></div>
      <div class="landing-page-aryan-child5"></div>
      <img class="image-2-icon" alt="" src="/static/public/image-2@2x.png" /><b class="new-here">New here ?</b>
      <div class="landing-page-aryan-child6" id="rectangle6"></div>
      <div class="start-now">Start Now</div>
      <div class="login-box">
        <div class="login-box-child"></div>
        <div class="login-box-item"></div>
        <div class="login-box-inner"></div>
        <div class="login-box-child1"></div>

        <form action="/login" method="POST">
          <div class="input-fields5">
            <input type="text" class="box5" name="username">
          </div>
          <div class="username">Username</div>
          <div class="password">Password</div>
          <div class="input-fields6">
            <input type="password" class="box5" name="password">
          </div>
          <div class="next-button7">
            <button class="rectangle-button" type="submit" name="submit_button" value="section1">
              <div class="next-button-child12"></div>
              <div class="next7" type="submit">Login</div>
            </button>
          </div>
        </form>
        <b class="login">Login</b>

      </div>
      <form id="hardik" action="/signup" method="POST">
        <button type="submit" name="submit_button" value="section2">
          <div class="sign-up-buttondefault" id="signUpButtonDefault">
            <div class="sign-up-buttondefault-child"></div>
            <div class="sign-up-buttondefault-item"></div>
            <div class="sign-up-now">Sign Up now!</div>
          </div>
        </button>
      </form>
      <div class="one-kiss-is-container">
        <p class="one-kiss-is">
          One Kiss is the only dating app that matches you on what matters to
          you.
        </p>
        <p class="one-kiss-is">You deserve to find who you’re looking for.</p>
        <p class="one-kiss-is">Meet them today!</p>
      </div>
      <img class="vector-icon" alt="" src="/static/public/vector-1.svg" /><img class="landing-page-aryan-child7" alt=""
        src="/static/public/vector-2.svg" />
      <div class="about-us">About us</div>
      <div class="landing-page-aryan-child8"></div>
      <div class="one-kiss7">
        <span>One </span><span class="kiss7">Kiss</span>
      </div>
    </div>
    
    <script>
      var rectangle6 = document.getElementById("rectangle6");
      if (rectangle6) {
        rectangle6.addEventListener("click", function (e) {
          window.location.href = "/static/NameAryan.html";
        });
      }

      var signUpButtonDefault = document.getElementById("signUpButtonDefault");
      if (signUpButtonDefault) {
        signUpButtonDefault.addEventListener("click", function (e) {
          window.location.href = "/static/NameAryan.html";
        });
      }
    </script>
  </body>

</html>