<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/n-e-w-your-likes.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lobster:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="new-your-likes">
      <div class="new-your-likes-child"></div>
      <a class="for-you-button9" href="/{{user['User_ID']}}/messages"
        ><div class="for-you-button-child6">
        <div class="messages3">Messages</div></div></a
      ><a class="for-you-button10" href="/{{user['User_ID']}}/home"
        ><div class="for-you-button-child6">
        <div class="find3">Find</div></div></a
      ><a class="find-button3" href="/{{user['User_ID']}}/for_you"
        ><div class="for-you-button-child6">
        <div class="for-you3">For You</div></div></a
      >
      <div class="for-you-button11">
        <div class="for-you-button-child8"></div>
        <b class="likes3">Likes</b>
      </div>
      
      <div class="new-your-likes-item"></div>
      
      <div class="profiles1">
        <div class="rectangle-container">
          <div class="frame-child1"></div>
          
          {% include "profiles.html" %}
          
        </div>
      </div>
      
      <div class="liked-profile">
        <div class="liked-profile-child"></div>
        <div class="liked-profile-item"></div>
        <div class="aryan-dhaka-20-container3">
          <a style = "color: inherit;
            text-decoration: inherit;
            " href = "/{{user['User_ID']}}/user/{{profile['Username']}}">
          <span>{{profile['FirstName']}} {{profile['LastName']}}, </span><span class="span5">{{profile['Age']}}</span>
          </a>
        </div>
        <b class="i-have-your">{{profile['User_description']}}</b>
        <div class="photo8">
          <!-- <div class="photo-child5"></div> -->
          <img class="photo-box-icon6" alt="" src="/static/public/photo-box@2x.png" />
        </div>
        <div class="photo9">
          <!-- <div class="photo-child5"></div> -->
          <img
            class="photo-box-icon6"
            alt=""
            src="/static/public/photo-box1@2x.png"
          />
        </div>
        <div class="photo10">
          <!-- <div class="photo-child5"></div> -->
          <img
            class="photo-box-icon6"
            alt=""
            src="/static/public/photo-box2@2x.png"
          />
        </div>
        
        <form method = "POST" action = "/{{user['User_ID']}}/likes">
          <div class="cross">
            <div class="cross-bg"></div>
            <input type="hidden" name="removed" value="{{ profile['User_ID'] }}"/>
            <!-- <div class = "cross-box">
            <input type = "image" name = "action1" src = "/static/public/multiply@2x.png" class="cross-image" value = "">
            </div> -->
            <input class = "cross-box" type = "submit" name = "action1" value = "">
              <!-- <img class="multiply-icon" alt="" src="/static/public/multiply@2x.png" /> -->
          </div>
        
        
        <img
          class="icon-double-quote-serif-left2"
          alt=""
          src="/static/public/-icon-double-quote-serif-left.svg"
        />
        
          <div class="match-button">
            <div class="match-button-child"></div>
              <input class = "match-button-item" type = "submit" name = "action2" value = "MATCH">
          </div>
        
        </form>
        
        
      </div>
      {% include "topbar.html" %}
    </div>

    <script>
      var oneKiss = document.getElementById("oneKiss");
      if (oneKiss) {
        oneKiss.addEventListener("click", function (e) {
          // Please sync "Desktop - 3" to the project
        });
      }

      </script>
  </body>
</html>
