<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/n-e-w-messages.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lobster:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
      
      <a class="one-kiss3" id="oneKiss">
        <span>One </span>
        <span class="kiss3">Kiss</span>
      </a>
  
      <a class="help8" href="/{{user['User_ID']}}/help">
        Help
      </a>

      <a class="amaiya6" href="/{{user['User_ID']}}/profile">{{user['Username']}}
      </a>
      

  </body>
</html>
