.kiss5 {
  color: var(--color-lightpink);
}
.one-kiss5 { /*logo in the corner*/
  text-decoration: none;
  position: absolute;
  top: 33px;
  left: 66px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-lobster);
  cursor: pointer;
  color: inherit;
}
.for-you-button-child9, /*light pink rectangle*/
.new-for-you-child {
  position: absolute;
  top: 147px;
  left: 0;
  background-color: var(--color-mistyrose);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 52px;
}
.for-you-button-child9 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
}
.for-you-button-child9:hover{
  background-color: var(--color-mistyrose);
}

.likes4 {
  position: absolute;
  top: 13.46%;
  left: 34%;
}

.for-you-button12 {
  text-decoration: none;
  position: absolute;
  top: 147px;
  left: 398px;
  width: 200px;
  height: 52px;
  color: inherit;
}
.messages4 {
  position: absolute;
  top: 13.46%;
  left: 18%;
}
.for-you-button13 {
  text-decoration: none;
  position: absolute;
  top: 147px;
  left: 597px;
  width: 200px;
  height: 52px;
  color: inherit;
}

.new-for-you-child1 {
  position: absolute;
  top: 210px;
  left: 0;
  background-color: var(--color-mistyrose);
  border: 1px solid var(--color-black);
  box-sizing: border-box;

  width: 1440px;
  height: 52px;
}
.for-you-button-child91 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
}
.for-you-button-child91:hover{
  background-color: var(--color-mistyrose);
}

.likes41 {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-dm-sans);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.for-you-button121 {
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-dm-sans);
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  top: 210px;
  left: 200px;
  width: 250px;
  height: 52px;
}
.messages41 {
  position: absolute;
  font-size: var(--font-size-21xl);
  font-size: 18px;
  top: 13.46%;
  left: 18%;
}
.for-you-button131 {
  text-decoration: none;
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  top: 210px;
  left: 450px;
  width: 250px;
  height: 52px;
  color: inherit;
}

.education41 {
  position: absolute;
  top: 13.46%;
  left: 18%;
}
.for-you-button141 {
  text-decoration: none;
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  top: 210px;
  left: 700px;
  width: 250px;
  height: 52px;
  color: inherit;
}

.lookingfor41 {
  position: absolute;
  top: 13.46%;
  left: 18%;
}
.for-you-button151 {
  text-decoration: none;
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  top: 210px;
  left: 950px;
  width: 250px;
  height: 52px;
  color: inherit;
}

.for-you-button-search {
  text-decoration: none;
  position: absolute;
  top: 209px;
  left: 990px;
  width: 200px;
  height: 52px;
  background-color:var(--color-azure) ;
}

.for-you-child-search {
  position: absolute;
  top: 209px;
  left: 990px;
  background-color: var(--color-mistyrose);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 200px;
  height: 52px;
}

.profile-bg {
  height: 97.56%;
  width: 97.56%;
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
  background-color: var(--color-black);
}
.photo-box-icon9,
.profile-bg,
.profile-box {
  position: absolute;
  border-radius: var(--br-11xl);
}
.profile-box { /*Profile 1 - Dhaka*/
  height: 97.56%;
  width: 97.56%;
  top: 0;
  right: 2.44%;
  bottom: 2.44%;
  left: 0;
  background-color: var(--color-lemonchiffon);
}
.profile-box:hover {
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
}
.photo-box-icon9 {
  height: 73.17%;
  width: 86.83%;
  top: 3.58%;
  right: 6.585%;
  bottom: 23.25%;
  left: 6.585%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
/*.name-age {
  position: absolute;
  width: 53.66%;
  top: 82.44%;
  left: 9.02%;
  display: inline-block;
}*/
.location-on-icon {
  position: absolute;
  height: 4.88%;
  width: 7.32%;
  top: 88.46%;
  right: 83.66%;
  bottom: 6.67%;
  left: 9.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chandigarh-chandigarh {
  position: absolute;
  top: 88.78%;
  left: 16.83%;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.like-bg,
.like-box {
  position: absolute;
  height: 94.59%;
  width: 94.59%;
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 5.41%;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.like-box {
  top: 0;
  right: 5.41%;
  bottom: 5.41%;
  left: 0;
  background-color: var(--color-lightpink);
}
.like-box:hover {
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 5.41%;
  background-color: var(--color-lightpink);
}
.favorite-icon {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-6 {
  position: absolute;
  height: 12.03%;
  width: 18.05%;
  top: 66.99%;
  right: 25.85%;
  bottom: 20.98%;
  left: 56.1%;
}
.cross-bg1,
.cross-box1 {
  position: absolute;
  height: 94.59%;
  width: 93.33%;
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 6.67%;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.cross-box1 {
  top: 0;
  right: 6.67%;
  bottom: 5.41%;
  left: 0;
  background-color: var(--color-papayawhip);
}
.cross-box1:hover {
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 6.67%;
  background-color: var(--color-papayawhip);
}
.multiply-icon1 {
  position: absolute;
  height: 60%;
  width: 60%;
  /*top: 20.27%;
  right: 26.67%;
  bottom: 25.68%;
  left: 20%;*/
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cross1 {
  position: absolute;
  height: 12.03%;
  width: 18.29%;
  top: 66.99%;
  right: 58.29%;
  bottom: 20.98%;
  left: 23.41%;
}
.profile-1,
.profile-box1 {
  position: absolute;
  top: 300px;
  left: 50px;
  width: 410px;
  height: 615px;
}
.profile-box1 { /*Profile 2 : Danish*/
  height: 97.56%;
  width: 97.56%;
  top: 0;
  right: 2.44%;
  bottom: 2.44%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightgoldenrodyellow);
}
.profile-box1:hover {
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
}
.name-age1 {
  position: absolute;
  top: 82.44%;
  left: 9.02%;
}
.profile-2,
.profile-box2 {
  position: absolute;
  top: 300px;
  left: 515px;
  width: 410px;
  height: 615px;
}
.profile-box2 { /*Profile 3 : Utkarsh*/
  height: 97.56%;
  width: 97.56%;
  top: 0;
  right: 2.44%;
  bottom: 2.44%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-azure);
}
.profile-box2:hover {
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
}

.profile-3 {
  position: absolute;
  top: 300px;
  left: 980px;
  width: 410px;
  height: 615px;
}
.find-button-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightpink);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.find-button4,
.for-you4 {
  position: absolute;
  top: 13.46%;
  left: 26%;
}
.find-button4 {
  text-decoration: none;
  top: 147px;
  left: 199px;
  width: 200px;
  height: 52px;
  color: inherit;
}
.find4 {
  position: absolute;
  top: 13.46%;
  left: 36%;
}
.for-you-button14 {
  text-decoration: none;
  position: absolute;
  background-color: var(--color-lightpink);
  top: 147px;
  left: 0px;
  width: 200px;
  height: 52px;
}
/*.help13 {
  position: absolute;
  top: 0;
  left: 0;
}*/
.find-button-child21 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightpink);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.find-button41,
.for-you41 {
  position: absolute;
  top: 13.46%;
  left: 26%;
}
.find-button41 {
  text-decoration: none;
  top: 210px;
  left: 199px;
  width: 200px;
  height: 52px;
  color: inherit;
}
.find41 {
  position: absolute;
  top: 13.46%;
  left: 36%;
}

.amaiya10,
.help12 {
  text-decoration: none;
  position: absolute;
  top: 48px;
  left: 1302px;
  width: 72px;
  height: 50px;
  font-size: var(--font-size-21xl);
  color: inherit;
  font-family: var(--font-lobster);
}
.amaiya10 {
  left: 1079px;
  width: 121px;
}
.amaiya10:hover, .help12:hover{
  color: var(--color-lightpink);
}
.new-for-you {
  position: relative;
  background-color: var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
/*  overflow: hidden;*/
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-dm-sans);
  color: var(--color-black);
}
.stext{
  font-size: var(--font-size-9xl);
}
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.btn-epic {
  position: absolute;
  box-sizing: border-box;
  top: 210px;
  left: 1200px;
  margin: auto;
  border: 1px solid var(--color-black);
  width: 100%;
  max-width: 240px;
  height: 52px;
  background: #fff;
  transform: translate3d(0px, 0%, 0px);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.05em;
  transition-delay: 0.6s;
  overflow: hidden;
  z-index: 99;
}
.btn-epic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 10px;
  background: var(--color-azure);
  border-radius: 50% 50% 0 0;
  transform: translateY(100%) scaleY(0.5);
  transition: all 0.6s ease;
}
.btn-epic:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 10px;
  background: #fff;
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition: all 0.6s ease;
}
.btn-epic div {
  position: relative;
  top: 16px;
  width: 100%;
  height: 26px;
  text-transform: uppercase;
  overflow: hidden;
}
.btn-epic span {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  text-align: center;
  transition: transform 0.5s ease;
}
.btn-epic span:first-child {
  color: #000000;
  transform: translateY(24px);
}
.btn-epic span:last-child {
  color: #000000;
  transform: translateY(0);
}
.btn-epic:hover {
  background: #4091c3;
  transition: background 0.2s linear;
  transition-delay: 0.6s;
}
.btn-epic:hover:after {
  border-radius: 0 0 50% 50%;
  transform: translateY(-100%) scaleY(0.5);
  transition-delay: 0;
}
.btn-epic:hover:before {
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition-delay: 0;
}
.btn-epic:hover span:first-child {
  transform: translateY(0);
}
.btn-epic:hover span:last-child {
  transform: translateY(-24px);
}