<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/n-e-w-edit-info.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lobster:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="new-edit-info">
      <div class="new-edit-info-child"></div>
      <div class="new-edit-info-item"></div>
      <div class="name">
        <span>{{user['FirstName']}} {{user['LastName']}},</span><span class="span"> </span
        ><span class="span1">{{user['Age']}}</span>
      </div>

      <div class="new-edit-info-inner"></div>
      <a class="for-you-button" href="/{{user['User_ID']}}/messages"
        ><div class="for-you-button-child">
        <div class="messages stext">Messages</div>
        </div></a
      ><a class="for-you-button1" href="/{{user['User_ID']}}/home"
        ><div class="for-you-button-child">
        <div class="find stext">Find</div></div></a
      ><a class="find-button" href="/{{user['User_ID']}}/for_you"
        ><div class="for-you-button-child">
        <div class="for-you stext">For You</div></div></a
      ><a class="for-you-button2" href="/{{user['User_ID']}}/likes"
        ><div class="for-you-button-child">
        <div class="likes stext">Likes</div></div></a
      >
      
      <div class="photo">
        <div class="photo-child"></div>
        <img class="photo-box-icon" alt="" src="/static/public/photo-box@2x.png" />
      </div>
      <div class="photo1">
        <div class="photo-child"></div>
        <img class="photo-box-icon" alt="" src="/static/public/photo-box1@2x.png" />
      </div>
      <div class="photo2">
        <div class="photo-child"></div>
        <img class="photo-box-icon" alt="" src="/static/public/photo-box2@2x.png" />
      </div>
      
      <div class="upload-button">
        <div class="upload-button-child"></div>
        <div class="upload-button-item">
          <b class="upload-image">Upload Image</b>
        </div>
      </div>
      
      <div class="upload-button1">
        <div class="upload-button-child"></div>
        <div class="upload-button-item">
          <b class="upload-image">Upload Image</b>
        </div>
      </div>
      
      <div class="upload-button2">
        <div class="upload-button-child"></div>
        <div class="upload-button-item">
          <b class="upload-image">Upload Image</b>
        </div>
      </div>
        
      <div class="remove-button">
        <div class="upload-button-child"></div>
        <div class="remove-button-item">
          <b class="remove-image">Remove Image</b>
        </div>
      </div>
        
      <div class="remove-button1">
        <div class="upload-button-child"></div>
        <div class="remove-button-item">
          <b class="remove-image">Remove Image</b>
        </div>
      </div>
        
      <div class="remove-button2">
        <div class="upload-button-child"></div>
        <div class="remove-button-item">
          <b class="remove-image">Remove Image</b>
        </div>
      </div>
      
      <div class="details">
        <div class="details-child"></div>
        <div class="details-item"></div>
        <div class="details-inner"></div>
        <div class="details-child1"></div>
        <div class="details-child2"></div>
        <div class="details-child3"></div>
        <div class="details-child4"></div>
        <img
          class="icon-double-quote-serif-left"
          alt=""
          src="/static/public/-icon-double-quote-serif-left.svg"
        />
        <div class="sex-male-container stext"><b>Sex :</b><span> {{user['Gender']}}</span></div>
        <div class="drink-socially stext"><b>Drink? </b><span> {{user['Drink']}} </span></div>
        <div class="smoking-never stext"><b>Smoking?</b><span> {{user['Smoke']}}</span></div>
        <div class="education-studying-container stext">
          <b>Education :</b><span> {{user['Education']}}</span>
        </div>
        <div class="diet-mostly-container stext">
          <b>Diet :</b><span> {{user['Food']}} </span>
        </div>
        <div class="sexual-orientation-container stext">
          <b>Sexual Orientation :</b><span> {{user['Sexual_orientation']}} </span>
        </div>
      </div>
      <b class="i-am-in stext">{{user['User_description']}}</b
      ><div class="save-button">
        <div class="save-button-child"></div>
          <div class="save-button-item">
            <b class="cancel">CANCEL</b>
          </div>
        </div><div class="save-button1">
        <div class="save-button-child"></div>
          <div class="save-button-child1">
            <b class="save">SAVE</b>
          </div>
      </div>
      
      {% include 'topbar.html' %}
      
    </div>

  </body>
</html>
