.picutes-aryan-child {
  position: absolute;
  top: 282px;
  left: 239px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 961px;
  height: 109px;
}
.upload-some-pictures {
  position: absolute;
  top: 250px;
  left: 203px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1033px;
  height: 173px;
  /* -webkit-text-stroke: 1px #b39bc8; */
}
.picutes-aryan-item {
  position: absolute;
  top: 1182px;
  left: 246px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 961px;
  height: 109px;
}
.lastly-give-a {
  position: absolute;
  top: 1150px;
  left: 210px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1033px;
  height: 173px;
  /* -webkit-text-stroke: 1px #b39bc8; */
}
.error-message {
  top: 38.33%;
  left: 0;
  opacity: 0.8;
}
.box,
.error-message,
.key-field {
  position: absolute;
}
.box {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}

.box23{
  position: absolute;
  top: 1350px;
  left: 220px;
  width: 440px;
  font-size:var(--font-size-13xl);
}
.box2{
  width: 1000px;
}
.key-field {
  top: 33.33%;
  left: 16px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  opacity: 0.8;
}
.start-cursor-icon {
  position: relative;
  width: 0;
  height: 18px;
  flex-shrink: 0;
  opacity: 0;
}
.mask-box,
.mask-layer {
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.mask-box {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 0.01px;
  height: 19px;
}
.mask-layer {
  position: relative;
  width: 79px;
  height: 20px;
  flex-shrink: 0;
}
.value-main,
.value-masked {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.value-masked {
  overflow: hidden;
  justify-content: flex-end;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.value-main {
  position: absolute;
  top: 26px;
  left: 17px;
  height: 28px;
  justify-content: flex-start;
}
.input-fields,
.return-button-child,
.return-button-item {
  position: absolute;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.input-fields {
  top: 1323px;
  left: 428px;
  border-radius: var(--br-xl);
  width: 598px;
  height: 164px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-red);
  font-family: var(--font-montserrat);
}
.return-button-child,
.return-button-item,
.return-button-item2 {
  height: 92.16%;
  width: 96.46%;
  top: 7.84%;
  right: 0;
  bottom: 0;
  left: 3.54%;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
}
.return-button-item {
  top: 0;
  right: 3.54%;
  bottom: 7.84%;
  left: 0;
  background-color: var(--color-gainsboro-100);
}
.return-button-item:hover {
  bottom: 0;
  left: -3.54%;
  top: 7.84%;
  right: 0;
  background-color: var(--color-gainsboro-100);
}
.return-button-item2 {
  top: 0;
  right: 3.54%;
  bottom: 7.84%;
  left: 0;
  background-color: var(--color-gainsboro-100);
}
.return-button-item2:hover {
  bottom: 0;
  left: 3.54%;
  top: 7.84%;
  right: 0;
  background-color: var(--color-gainsboro-100);
}
.return {
  position: absolute;
  height: 78.43%;
  width: 92.04%;
  top: 7.84%;
  left: 2.65%;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return-button {
  position: absolute;
  top: 1573px;
  left: 597px;
  width: 113px;
  height: 51px;
  font-size: var(--font-size-11xl);
}
.next-button-child {
  position: absolute;
  height: 92.16%;
  width: 96.46%;
  top: 7.84%;
  right: 6.19%;
  bottom: 0;
  left: -2.65%;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.next-button {
  position: absolute;
  top: 1573px;
  left: 743px;
  width: 113px;
  height: 51px;
  font-size: var(--font-size-11xl);
}
.progress-bar-icon {
  position: absolute;
  top: 150px;
  left: 487px;
  width: 465px;
  height: 60px;
}
.upload-overlay-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5e6cc;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 790px;
  height: 610px;
}
.upload-photos {
  position: absolute;
  top: 41px;
  left: 25px;
  font-size: 48px;
  line-height: 28px;
}
.rectangle-div,
.upload-overlay-child1,
.upload-overlay-inner,
.upload-overlay-item {
  position: absolute;
  top: 116px;
  left: 25px;
  background-color: var(--color-lemonchiffon);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 228px;
  height: 50px;
}
.rectangle-div,
.upload-overlay-child1,
.upload-overlay-inner {
  left: 281px;
}
.rectangle-div,
.upload-overlay-child1 {
  left: 537px;
}
.upload-overlay-child1 {
  top: 120px;
  left: 25px;
  background-color: var(--color-white);
  border: 2px dashed var(--color-black);
  width: 740px;
  height: 450px;
}
.firstjpg,
.secondjpg,
.thirdjpg {
  position: absolute;
  top: 128px;
  left: 44px;
}
.secondjpg,
.thirdjpg {
  left: 300px;
}
.thirdjpg {
  left: 556px;
}
.icon-x-letter,
.icon-x-letter1,
.icon-x-letter2 {
  position: absolute;
  height: 3.28%;
  width: 2.53%;
  top: 21.48%;
  right: 69.87%;
  bottom: 75.25%;
  left: 27.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-x-letter1,
.icon-x-letter2 {
  right: 37.85%;
  left: 59.62%;
}
.icon-x-letter2 {
  right: 5.06%;
  left: 92.41%;
}
.upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 610px;
}
.drag-and-drop {
  position: absolute;
  top: 374px;
  left: 136px;
  font-size: var(--font-size-21xl);
  line-height: 28px;
  color: #c4c4c4;
}
.upload-overlay-parent {
  position: absolute;
  top: 423px;
  left: 332px;
  width: 790px;
  height: 656px;
  font-size: var(--font-size-xl);
}
.kiss {
  color: var(--color-lightpink);
}
.one-kiss {
  position: absolute;
  top: 46px;
  left: 65px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-lobster);
}
.picutes-aryan {
  position: relative;
  background-color: var(--color-lemonchiffon);
  width: 100%;
  height: 1831px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
}

input[type="file"] {
  display: none;
}
label {
  display: block;
  position: absolute;
  top: 660px;
  left: 460px;
  background-color: var(--color-lightpink);
  color:var(--color-black) ;
  font-size: var(--font-size-21xl);
  font-family: var(--font-dm-sans);
  font-weight: bold;
  text-align: center;
  width: 530px;
  padding:  20px;
  border-radius: 5px;
  cursor: pointer;
}
.label1 {
  display: block;
  position: absolute;
  top: 600px;
  left: 430px;
  background-color: var(--color-lightpink);
  color:var(--color-black) ;
  font-size: var(--font-size-21xl);
  font-family: var(--font-dm-sans);
  font-weight: bold;
  text-align: center;
  width: 600px;
  padding:  20px;
  border-radius: 5px;
  cursor: pointer;
}
.label2 {
  display: block;
  position: absolute;
  top: 730px;
  left: 430px;
  background-color: var(--color-lightpink);
  color:var(--color-black) ;
  font-size: var(--font-size-21xl);
  font-family: var(--font-dm-sans);
  font-weight: bold;
  text-align: center;
  width: 600px;
  padding:  20px;
  border-radius: 5px;
  cursor: pointer;
}
.label3 {
  display: block;
  position: absolute;
  top: 860px;
  left: 430px;
  background-color: var(--color-lightpink);
  color:var(--color-black) ;
  font-size: var(--font-size-21xl);
  font-family: var(--font-dm-sans);
  font-weight: bold;
  text-align: center;
  width: 600px;
  padding:  20px;
  border-radius: 5px;
  cursor: pointer;
}
#image-display {
  position:absolute;
  top: 760px;
  left: 460px;
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 200px;
  flex-wrap: wrap;
}
#image-display figure {
  width: 45%;
}
#image-display img {
  width: 100%;
}
#image-display figcaption {
  font-size: var(--font-size-xs) ;
  text-align: center;
  color: #5a5861;
}
.active {
  border: 0.2em dashed #025bee;
}
#error {
  text-align: center;
  color: #ff3030;
}
#upload-button1 {
  top: 900px;
  left: 428px;
  width: 200px;
  height: 164px;
}
.label1{
  position: absolute;
  top: 900 px;
  height: 120 px;
  padding: 10px;
}
.label2{
  position: absolute;
  top: 1000 px;
  height: 120 px;
  padding: 10px;
}
.label3{
  position: absolute;
  top: 1200 px;
  height: 120 px;
  padding: 10px;
}