body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";
  --font-lobster: Lobster;
  --font-inherit: inherit;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-45xl: 64px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-77xl: 96px;
  --font-size-11xl: 30px;
  --font-size-base: 16px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-lightgoldenrodyellow: #d1ffd3;
  --color-lightpink: #ffb4b4;
  --color-mistyrose: #fedee7;
  --color-lemonchiffon: #fff5c0;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: #d5d8de;
  --color-gray-100: #171717;
  --color-darkslategray: #323941;
  --color-red: #e71010;
  --color-gainsboro: #d9d9d9;
  --color-azure: #e6faff;
  --color-palevioletred: #f172a1;
  --color-papayawhip: #f5e6cc;
  --color-hotpink: #e64398;
  --color-dimgray: #696969;

  /* Paddings */
  --padding-18xl: 37px;
  --padding-3xs: 10px;

  /* border radiuses */
  --br-11xl: 30px;
  --br-mini: 15px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-6xl: 25px;
}
