<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/new-your-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lobster:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    
    <script type="text/javascript">
      
      var numer = 1;
  
      function changeImage1() {
        console.log("hello there")
        var image1 = document.getElementById('img1');
        var image2 = document.getElementById('img2');
        var image3 = document.getElementById('img3');
        
        if (numer == 1){
          console.log("check1")
          numer  = 2;
          image1.src = '/static/public/{{user['Photolink2']}}';
          image2.src = '/static/public/{{user['Photolink3']}}';
          image3.src = '/static/public/{{user['Photolink1']}}';
        }
        else if (numer == 2){
          console.log("check2")
          numer = 3
          image1.src = '/static/public/{{user['Photolink3']}}';
          image2.src = '/static/public/{{user['Photolink1']}}';
          image3.src = '/static/public/{{user['Photolink2']}}';
        }
        else if (numer == 3){
          console.log("check3")
          numer = 1;
          image1.src = '/static/public/{{user['Photolink1']}}';
          image2.src = '/static/public/{{user['Photolink2']}}';
          image3.src = '/static/public/{{user['Photolink3']}}';
        }
      }
      
    </script>
    
  </head>
  <body>
    <div class="new-your-profile">
      <div class="new-your-profile-child"></div>
      <div class="new-your-profile-item"></div>
      <div class="name1">
        <span>{{user['FirstName']}}, </span><span class="span2"> </span
        ><span class="span3">{{user['Age']}}</span>
      </div>
      <div class="details1">
        <div class="details-child1"></div>
        <div class="details-child1"></div>
        <div class="details-child1"></div>
        <div class="details-child1"></div>
        <div class="details-child1"></div>
        <div class="details-child1"></div>
        <div class="details-child10"></div>
        <img
          class="icon-double-quote-serif-left1"
          alt=""
          src="/static/public/-icon-double-quote-serif-left.svg"
        />
        <div class="sex-male-container1 stext"><b>Sex :</b><span> {{user['Gender']}} </span></div>
        <div class="drink-socially1 stext"><b>Drink? </b><span> {{user['Drink']}} </span></div>
        <div class="smoking-never1 stext"><b>Smoking?</b><span> {{user['Smoke']}} </span></div>
        <div class="education-studying-container1 stext">
          <b>Education :</b><span> {{user['Education']}}</span>
        </div>
        <div class="diet-mostly-container1 stext">
          <b>Diet :</b><span> {{user['Food']}} </span>
        </div>
        <div class="sexual-orientation-container1 stext">
          <b>Sexual Orientation :</b><span> {{user['Sexual_orientation']}} </span>
        </div>
      </div>
      

      <div class="new-your-profile-inner"></div>
      
      <a class="for-you-button3" href="/{{user['User_ID']}}/messages"
        ><div class="rectangle-button">
        <div class="messages1">Messages</div></div></a
      ><a class="for-you-button4" href="/{{user['User_ID']}}/home"
        ><div class="rectangle-button">
        <div class="find1">Find</div></div></a
      ><a class="find-button1" href="/{{user['User_ID']}}/for_you"
        ><div class="rectangle-button">
        <div class="for-you1">Explore</div></div></a
      ><a class="for-you-button5" href="/{{user['User_ID']}}/likes"
        ><div class="rectangle-button">
        <div class="likes1">Likes</div></div></a
      >
      
      <b class="i-am-in1 stext">{{user['User_description']}}</b
      >
      <!-- <a class="edit-info" href="/{{user['User_ID']}}/profile/edit_info">
        <div class="edit-info-child"></div>
        <div class="edit-info-item">
          <b class="edit-information stext">Edit Information</b>
        </div>
      </a> -->
      
      <div class="component-8">
        
        <div class="photo55">
          <div class="photo-child2"></div>
          <img id = "img3"
            class="photo-box-icon5"
            alt=""
            src="/static/public/{{user['Photolink3']}}"
          />
        </div>
        
        <div class="photo555">
          <div class="photo-child222"></div>
          <img id = img2
            class="photo-box-icon5"
            alt=""
            src="/static/public/{user['Photolink2']}}"
          />
        </div>
        
        <div class="photo5">
          <div class="photo-child22"></div>
          <img id = "img1"
            class="photo-box-icon5"
            alt=""
            src="/static/public/{{user['Photolink1']}}"
          />
        </div>
        
        <button id="thisbutt" class="next-button" onclick="changeImage1()">
          <div class="next-button-child"></div>
          <div class="next-button-item">
          <div class="next">Next</div>
          </div>
        </button>
      </div>
      
      <!-- <button class="stats">
        <div class="stats-child"></div>
        <div class="stats-item">
        <div class="bars">
          <div class="bars-child"></div>
          <div class="bars-item"></div>
          <div class="bars-inner"></div>
        </div>
        </div>
      </button> -->
      
       <a class="one-kiss1" id="oneKiss"
          ><span>One </span><span class="kiss1">Kiss</span></a
        >
        <a class="help4" href="/{{user['User_ID']}}/help">Help</a>
        
        <div class="amaiya2">{{user['Username']}}</div>
        
        <form action = "/{{user['User_ID']}}/profile" method = "POST">
          <input type = "hidden" name = "User" value = "{{user['User_ID']}}" >
          <input class="logout" type="submit" value="Logout">
        </form>
      
    </div>
    
    <div id="overlay" onclick="off()">
      <!-- <div id="text">Overlay Text</div> -->
      <div class="stats-overlay" onclick="off()">
        <div class="stats-overlay-child"></div>
        <div class="stats-overlay-item">
          <div class="stats-overlay-inner">
            <div class = "likes4">
              <b>Joined One Kiss: </b> <span>14th March, 2023</span>
            </div>
          </div>
          <div class="stats-overlay-child1">
            <div class = "likes4">
             <b>Total Likes Received: </b> <span>55</span>
            </div>
          </div>
          <div class="stats-overlay-child2">
            <div class = "likes4">
              <b>Total Matches: </b> <span>8</span>
            </div>
          </div>
          
          <b class="your-statistics">Your Statistics</b>
          <div class="cross">
            <div class="cross-bg"></div>
            <div class="cross-box"></div>
            <img class="multiply-icon" alt="" src="/static/public/multiply@2x.png" />
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div style="padding:20px">
      <button onclick="on()" class="stats">
        <div class="stats-child"></div>
        <div class="stats-item">
        <div class="bars">
          <div class="bars-child"></div>
          <div class="bars-item"></div>
          <div class="bars-inner"></div>
        </div>
        </div>
      </button>
    </div> -->
    


    <script>
    function on() {
      document.getElementById("overlay").style.display = "block";
    }
    
    function off() {
      document.getElementById("overlay").style.display = "none";
    }
    </script>

    <script>
      var oneKiss = document.getElementById("oneKiss");
      if (oneKiss) {
        oneKiss.addEventListener("click", function (e) {
          // Please sync "Desktop - 3" to the project
        });
      }
      </script>
  </body>
</html>
