.kiss5 {
  color: var(--color-lightpink);
}
.one-kiss5 { /*logo in the corner*/
  text-decoration: none;
  position: absolute;
  top: 33px;
  left: 66px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-lobster);
  cursor: pointer;
  color: inherit;
}
.for-you-button-child9, /*light pink rectangle*/
.new-for-you-child {
  position: absolute;
  top: 147px;
  left: 0;
  background-color: var(--color-mistyrose);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 52px;
}
.for-you-button-child9 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
}
.for-you-button-child9:hover{
  background-color: var(--color-mistyrose);
}

.likes4 {
  position: absolute;
  top: 13.46%;
  left: 34%;
}

.for-you-button12 {
  text-decoration: none;
  position: absolute;
  top: 147px;
  left: 398px;
  width: 200px;
  height: 52px;
  color: inherit;
}
.messages4 {
  position: absolute;
  top: 13.46%;
  left: 18%;
}
.for-you-button13 {
  text-decoration: none;
  position: absolute;
  top: 147px;
  left: 597px;
  width: 200px;
  height: 52px;
  color: inherit;
}
.profile-bg {
  height: 97.56%;
  width: 97.56%;
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
  background-color: var(--color-black);
}
.photo-box-icon9,
.profile-bg,
.profile-box {
  position: absolute;
  border-radius: var(--br-11xl);
}
.profile-box { /*Profile 1 - Dhaka*/
  height: 97.56%;
  width: 97.56%;
  top: 0;
  right: 2.44%;
  bottom: 2.44%;
  left: 0;
  background-color: var(--color-lemonchiffon);
}
.profile-box:hover {
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
}
.photo-box-icon9 {
  height: 73.17%;
  width: 86.83%;
  top: 3.58%;
  right: 6.585%;
  bottom: 23.25%;
  left: 6.585%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
/*.name-age {
  position: absolute;
  width: 53.66%;
  top: 82.44%;
  left: 9.02%;
  display: inline-block;
}*/
.location-on-icon {
  position: absolute;
  height: 4.88%;
  width: 7.32%;
  top: 88.46%;
  right: 83.66%;
  bottom: 6.67%;
  left: 9.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chandigarh-chandigarh {
  position: absolute;
  top: 88.78%;
  left: 16.83%;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.like-bg,
.like-box {
  position: absolute;
  height: 94.59%;
  width: 94.59%;
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 5.41%;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.like-box {
  font-weight: bold;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
  top: 0;
  right: 5.41%;
  bottom: 5.41%;
  left: 0;
  background-color: var(--color-lightpink);
}
.like-box:hover {
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 5.41%;
  background-color: var(--color-lightpink);
}
.favorite-icon {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
/*.component-6 {
  position: absolute;
  height: 12.03%;
  width: 18.05%;
  top: 66.99%;
  right: 25.85%;
  bottom: 20.98%;
  left: 56.1%;
}*/
.component-6 {
  position: absolute;
  height: 12%;
  width: 30%;
  top: 68%;
  right: 35%;
  left: 35%;
}
.cross-bg1,
.cross-box1 {
  position: absolute;
  height: 94.59%;
  width: 93.33%;
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 6.67%;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.cross-box1 {
  top: 0;
  right: 6.67%;
  bottom: 5.41%;
  left: 0;
  background-color: var(--color-papayawhip);
}
.cross-box1:hover {
  top: 5.41%;
  right: 0;
  bottom: 0;
  left: 6.67%;
  background-color: var(--color-papayawhip);
}
.multiply-icon1 {
  position: absolute;
  height: 60%;
  width: 60%;
  /*top: 20.27%;
  right: 26.67%;
  bottom: 25.68%;
  left: 20%;*/
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cross1 {
  position: absolute;
  height: 12.03%;
  width: 18.29%;
  top: 66.99%;
  right: 58.29%;
  bottom: 20.98%;
  left: 23.41%;
}
.profile-1,
.profile-box1 {
  position: absolute;
  top: 300px;
  left: 50px;
  width: 410px;
  height: 615px;
}
.profile-box1 { /*Profile 2 : Danish*/
  height: 97.56%;
  width: 97.56%;
  top: 0;
  right: 2.44%;
  bottom: 2.44%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightgoldenrodyellow);
}
.profile-box1:hover {
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
}
.name-age1 {
  font-size: var(--font-size-9xl);
  position: absolute;
  top: 82.44%;
  left: 9.02%;
}
.profile-2,
.profile-box2 {
  position: absolute;
  top: 300px;
  left: 515px;
  width: 410px;
  height: 615px;
}
.profile-box2 { /*Profile 3 : Utkarsh*/
  height: 97.56%;
  width: 97.56%;
  top: 0;
  right: 2.44%;
  bottom: 2.44%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-azure);
}
.profile-box2:hover {
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 2.44%;
}

.profile-3 {
  position: absolute;
  top: 300px;
  left: 980px;
  width: 410px;
  height: 615px;
}
.find-button-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightpink);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.find4,
.likes4,
.messages4,
.for-you4{
  font-size: var(--font-size-9xl);
}
.for-you4 {
  position: absolute;
  top: 13.46%;
  left: 26%;
}
.find-button4 {
  position: absolute;
  text-decoration: none;
  top: 147px;
  left: 199px;
  width: 200px;
  height: 52px;
  color: inherit;
}
.find4 {
  position: absolute;
  top: 13.46%;
  left: 36%;
}
.for-you-button14 {
  text-decoration: none;
  position: absolute;
  top: 147px;
  left: 0;
  width: 200px;
  height: 52px;
  color: inherit;
}
/*.help13 {
  position: absolute;
  top: 0;
  left: 0;
}*/
.amaiya10,
.help12 {
  text-decoration: none;
  position: absolute;
  top: 48px;
  left: 1302px;
  width: 72px;
  height: 50px;
  font-size: var(--font-size-21xl);
  color: inherit;
  font-family: var(--font-lobster);
}
.amaiya10 {
  left: 1079px;
  width: 121px;
}
.amaiya10:hover, .help12:hover{
  color: var(--color-lightpink);
}
.new-for-you {
  position: relative;
  background-color: var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
/*  overflow: hidden;*/
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
}
